.main {
  display: flex;
  flex-wrap: wrap;
}

.search__filters {
  flex: 0 0 33.33%;
  padding: 0 15px;
}

.search-result {
  flex: 1;
  padding: 0 15px;
}

.btn-link {
  background-color: transparent;
  color: #000;
  text-transform: none;
  line-height: normal;
  padding: 5px 0;
  border-radius: 0;
  &:hover {
    color: #555;
  }
}